@charset "utf-8";

a{
	color: #000;
}
.top{
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}
.top_page{
	width: 970px;
	height: inherit;
	margin: 0 auto;
}
.top_page_l{
	line-height: 26px;
}
.top_page_r li{
	float: left;
	line-height: 26px;
	padding-right: 10px;
}
.top_page_r{
	
}
.top_page_r ul li s{
	width: 14px;
	height: 12px;
	background: url(../img/sprite.png);
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 970px;
	height: 98px;
	margin: 0 auto;
}
.logo_left .logo_bd{
	display: block;
	width: 200px;
	height: 55px;
	margin: 24px 0 19px 9px;
	background: url(../img/sprite.png) -20px 0;
	text-indent: -1000em;
}
.logo_right{
	width: 530px;
	height: 42px;
	border:1px solid #C9C9C9;
	margin-top: 29px;
}
.logo_r_content{
	margin: 5px 5px 4px;
}

.input_text{
	width: 418px;
	height: 28px;
	border: 1px solid #C9C9C9;
	color: #999999;
}
.input_button{
	width: 99px;
	height: 30px;
	background-color: #2f70d0;
	color: white;
}
.nav{
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266a3;
}
.nav li{
	float: left;
	padding: 0px 15px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}
.nav li a{
	color: #0266a3;
}
/*鼠标悬浮时改变背景颜色和字体颜色*/
li:hover{
	background-color: #0266A3;
	color: white;
}
li:hover a{
	color: white;
}
/*
 a>b：子元素选择器
 a b:后代选择器
 * */