@charset "utf-8";

a{
	color: #000;
}
.top{
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}
.top_page{
	width: 970px;
	height: inherit;
	margin: 0 auto;
}
.top_page_l{
	line-height: 26px;
}
.top_page_r li{
	float: left;
	line-height: 26px;
	padding-right: 10px;
}
.top_page_r{
	
}
.top_page_r ul li s{
	width: 14px;
	height: 12px;
	background: url(../img/sprite.png);
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 970px;
	height: 98px;
	margin: 0 auto;
}
.logo_left .logo_bd{
	display: block;
	width: 200px;
	height: 55px;
	margin: 24px 0 19px 9px;
	background: url(../img/sprite.png) -20px 0;
	text-indent: -1000em;
}
.logo_right{
	width: 530px;
	height: 42px;
	border:1px solid #C9C9C9;
	margin-top: 29px;
}
.logo_r_content{
	margin: 5px 5px 4px;
}

.input_text{
	width: 418px;
	height: 28px;
	border: 1px solid #C9C9C9;
	color: #999999;
}
.input_button{
	width: 99px;
	height: 30px;
	background-color: #2f70d0;
	color: white;
}
.nav{
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266a3;
}
.nav li{
	float: left;
	padding: 0px 15px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}
.nav li a{
	color: #0266a3;
}
/*鼠标悬浮时改变背景颜色和字体颜色*/
.nav li:hover{
	background-color: #0266A3;
	color: white;
}
.nav li:hover a{
	color: white;
}
.banner{
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px;
}
.subnav{
	width: 200px;
	height: inherit;
}
.ad{
	width: 520px;
	background: yellow;
	height: inherit;
	margin-left: 11px;
}
.message{
	width: 230px;
	height: inherit;
}
.subnav h2{
	background: #0266A3;
	color: white;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 20px;
}
.subnav s{
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(../img/sprite.png) -225px 0;
	vertical-align: middle;
}
.subnav ul{
	background: #ebf0f6;
	height: 180px;
}
.subnav li{
	font-size: 15px;
	padding-top: 11px;
	margin-left: 9px;
}
.subnav li a{
	margin-left: 15px;
}
.message-top{
	height: 95px;
	border: 1px solid #dddddd;
	background: #f7faff;
	margin-bottom: 23px;
}
.message-bottom{
	height: 92px;
	background: #f7f7f7;
}
.message-top s{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/sprite.png) -250px 0;
	margin: 20px 10px 0 10px
}
.message-top .top_title{
	font-weight: bold;
	padding: 7px 0 0 18px;
}
.message-top .cheap{
	margin-top: 25px;
}
.message-bottom .findMessage{
	text-align: center;
	font-size: 14px;
	padding-top: 14px;
}
.message-bottom .phone{
	text-align: center;
	color: #3f9ce0;
	margin-top: 10px;
}
.message-bottom .phone s{
	display: inline-block;
	width: 14px;
	height: 17px;
	background: url(../img/sprite.png) -225px -30px;
	vertical-align: middle;
}
.message-bottom .call_phone{
	width: 81px;
	height: 23px;
	background: url(../img/sprite.png) -295px 0;
	margin: 9px 0 0 79px;
}
.material{
	width: 950px;
	margin: 0 auto;
	height:34px;
	border-top: 2px solid #c3d7e4;
	margin-top: 14px;
	background: #ecf1f7;
	line-height: 34px;
	font-weight: bold;
	padding-left: 20px;
}
.detail{
	width: 970px;
	height: 345px;
	margin: 0 auto;
	margin-top: 12px;
}
.detail_left{
	width: 738px;
	height: inherit;
	border: 1px solid #3F9CE0;
}
.detail_right{
	width: 228px;
	height: inherit;
	border: 1px solid blue;
}
.detail_left_top{
	height: 155px;
	width: 712px;

	padding: 17px 0 0 26px;
}
.top_left{
	width: 350px;
	height: 146px;
}
.top_left .buy{
	width: 99px;
	height: 143px;
}
.top_left .explain{
	width: 251px;
	height: 143px;
}
.buy .img{
	border:  1px solid #cacaca;
	height: 100px;
}
.buy .img s{
	display: inline-block;
	width: 90px;
	height: 62px;
	background: url(../img/sprite.png) 0 -70px;
	margin: 10px 4px 0;
}
.buy .btn{
	width: 99px;
	height: 26px;
	background-color: #0a84e3;
	color: white;
	margin-top: 15px;
}
.good_wife{
	font-size: 14px;
	margin: 10px 0 0 10px;
}
.explain .auto{
	color: #863e01;
	font-size: 12px;
	margin: 13px 0 0 15px;
}
.explain .price span{
	color: red;
}
.explain .price{
	margin: 13px 0 0 11px;
}
.explain .buyed{
	font-size: 14px;
	margin: 28px 0 0 10px;
}
.detail_middle_line{
	margin: 0 4px;
	border-top: 1px solid #cccccc;
}
.detail_right h2{
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	border-bottom: 1px solid grey;
}
.detail_right ul{
	padding-top: 11px;
}
.detail_right ul li{
	line-height: 23px;
	padding-left: 26px;
}
.friendly_link{
	width: 970px;
	height: 80px;
	margin: 0 auto;
	margin-top: 11px;
	border-top: 1px solid #3F9CE0;
	border-bottom: 3px solid #0a7ec3;
}
.friendly_link .link_top{
	color: #666666;
	margin-top: 30px;
	background: white;
}
.friendly_link .link_bottom{
	color: #666666;
	margin-top: 10px;
	margin-left: 61px;
}
.about_us{
	height: 91px;
	margin: 0 auto;
	width: 970px;
	padding-top: 15px;
}
.about_us p{
	margin-bottom: 10px;
	text-align: center;
}
/*
 a>b：子元素选择器
 a b:后代选择器
 * */