@charset "utf-8";
html{
	color: #000;
	background: #fff;
	font: 12px '宋体';
}
body,div,dl,dt,dd,h1,h2,h3,ul,ol,form,fieldset,input,textarea,
p,blockquote,th,td{margin: 0;padding: 0;}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
em,strong,b,u,i{
	font-style: normal;
	font-weight: normal;
}
ul,ol{
	list-style: none;
}
h1,h2,h3{
	font-size: 100%;
	font-weight: normal;
}
input,textarea,select{
	font-family: inherit;
	font-size: inherit;
	*font-size: 100%;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
input{
	border: none;
}
